const fetchData = ({
  getRequest,
  addResultToProps,
  BaseComponent
}) => {
  return class extends React.Component {
    constructor () {
      super()
      this.state = {
        data: null,
        loading: true
      }
    }

    componentWillMount () {
      getRequest(props)
        .then((res) => res.json())
        .then((data) => this.setState({
          loading: false,
          data: data
        })
    }

    render () {
      const props = addResultToProps(
        this.props,
        this.state
      )

      return <BaseComponent {...props} />
    }
  }
}

const LoggedUser = fetchData({
  getRequest: (props) => (
    fetch('/api/me')
  ),
  addResultToProps: (props, result) => ({
    ...props,
    user: result.data
  }),
  BaseComponent: User
})
