const User = (props) => (
  props.loading
    ? <StylishSpinner />
    : <div>
        {props.user.name}
      </div>
)

// Extraction de la vraie valeur du composant

const DumbUser = () => (
  <div>
    {props.user.name}
  </div>
)

const User = (props) => (
  props.loading
    ? <StylishSpinner />
    : <DumbUser />
)

// Création du HOC

const withLoading = (DumbUser) => (
  (props) => (
    props.loading
      ? <StylishSpinner />
      : <DumbUser />
  )
)

const User = withLoading(DumbUser)

// Et en respectant les conventions

const withLoading = (BaseComponent) => (
  (props) => (
    props.loading
      ? <StylishSpinner />
      : <BaseComponent />
  )
)

// Le chargement est aussi variable

const withLoading = (
  (isLoading, BaseComponent) => (
    (props) => (
      isLoading(props)
        ? <StylishSpinner />
        : <BaseComponent />
    )
  )
)

const User = withLoading(
  (props) => props.loading,
  DumbUser
)

// (BaseComponent) => EnhancedComponent
