const Username = (props) => (
  <div>
    {props.user.name}
  </div>
)

const CurrentUsername = withLoading(
  (props) => props.loading,
  Username
)

const LoggedUser = fetchData({
  getRequest: (props) => (
    fetch('/api/username')
  ),
  addResultToProps: (props, result) => ({
    ...props,
    loading: result.loading
    user: result.data
  }),
  BaseComponent: CurrentUsername
)

// Ca ne s'enchaîne pas très bien

const withLoading =
  (isLoading, BaseComponent) => {
    ...
  }

const withLoading =
  (isLoading) => (BaseComponent) => {
    ...
  }

const CurrentUsername = withLoading(
  (props) => props.loading,
  Username
)

const CurrentUsername = withLoading(
  (props) => props.loading
)(Username)

const LoggedUser = fetchData({
  ...,
  BaseComponent: CurrentUsername
})

const LoggedUser = fetchData({
  ...
})(CurrentUsername)

const CurrentUsername =
  withLoading(...)(Username)

const LoggedUser =
  fetchData(...)(CurrentUsername)

// Et paf ! Ca fait des chocapics

const LoggedUser = flowRight(
  fetchData(...),
  withLoading(...)
)(Username)
